<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{{ page.title }}</title>
  {%- seo title=false -%}

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/mononoki" type="text/css"/>

  {%- if site.listen_for_clients_preferred_style -%}
    <link rel="stylesheet" type="text/css" href="{{ "/assets/main.css" | relative_url }}">
  {%- else -%}
    {%- if site.style == 'light' -%}
     <link rel="stylesheet" type="text/css" href="{{ "/assets/main-light.css" | relative_url }}">
   {%- else -%}
      <link rel="stylesheet" type="text/css" href="{{ "/assets/main-dark.css" | relative_url }}">
    {%- endif -%}
  {%- endif -%}

  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
</head>
