<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}
    <main>
      {{ content }}
    </main>
    {%- include footer.html -%}

    </div>
  </body>
</html>
